button {
  display: block;
  margin: 1rem auto;
  padding: 0.6rem 2rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: black;
  color: white;
  position: relative;
}

button:hover,
button:active {
  top: 1px;
}
