.feedback-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.rating-num {
  position: absolute;
  top: -30px;
  left: -20px;
  background: black;
  border-radius: 1rem;
  padding: 0.3rem;
  width: 1.2rem;
  text-align: center;
  color: white;
  font-size: 0.8rem;
}

.feedback-text {
  width: 80%;
}

.feedback-ctrl {
  width: 13%;
  max-width: 3rem;
  display: flex;
  justify-content: space-between;
}

.feedback-ctrl-btn {
  cursor: pointer;
}
