.rating {
  display: flex;
}

label {
  position: relative;
  appearance: none;
  width: 1rem;
  height: 2rem;
  display: block;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  cursor: pointer;
}

input {
  display: none;
}

.star {
  position: absolute;
  transition: all 0.2s;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: red;
  stroke-width: 2px;
}

svg.star.first-star {
  -webkit-text-stroke-color: red;
  stroke-width: 2px;
}

.first-star {
  right: -15px;
}

.second-star {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  left: -15px;
}
